body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.cardContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  width: 250px;
}

.card-body {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.AddedItems {
  margin-top: 40px;
}

.AddedItems ul {
  list-style: none;
  padding: 0;
  justify-content: flex-end;
}

.AddedItems ul li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddedItems h4,
.AddedItems h5 {
  text-align: center;
}
